- if current_user and current_user.rubygems.exists?(:name => @rubygem.name)
  #box
    %span{:style=>"font-size: 1.5em"}
      You're following 
      - if @rubygem.name == 'rails'
        %span{:style=>"font-size: 1.2em; font-weight: bold;"} Ruby on Rails 3.1
      - else
        %span{:style=>"font-size: 1.2em; font-weight: bold;"}
          = @rubygem.name
    %br
    %br
    = link_to 'unfollow' , unfollow_path(@rubygem.name)
      

- else
  #box
    %span{:style=>"font-size: 1.5em"}
      Notify me when 
      - if @rubygem.name == 'rails'
        %span{:style=>"font-size: 1.2em; font-weight: bold;"} Ruby on Rails 3.1
        is
      - else
        new
        %span{:style=>"font-size: 1.2em; font-weight: bold;"}
          = @rubygem.name
        gems are
      released!
      = render :partial => 'shared/follow_form', :object => @rubygem
