- if current_user
  #header
    #logo
      = link_to 'GemStalker', root_path
      <g:plusone size="small"></g:plusone>
    #account
      Welcome back,
      = current_user.email || 'dude'
      = link_to 'logout', '/logout'
